In [1]:
### Q1: What is the output of following expression ###
   ### 5 + 4 * 9 % (3 + 1) / 6 - 1 ###
output_expression=5 + 4 * 9 % (3 + 1) / 6 - 1
print (output_expression)

4.0

In [2]:
# Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.
Number= int (input ("Enter your number"))
if Number%2==0 :
    print("numebr is even")
else :
    print("number is odd")

Enter your number 2

numebr is even

In [4]:
#Q3: Write a program to display the multiplication table by taking a number as input. 
   # [Hint : Use print statement inside of a loop]
# Python program to display multiplication table
number = int(input("Enter a number to display its multiplication table: "))
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number to display its multiplication table:  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [6]:
#Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 but are not a multiple of 5.
#Note: The numbers obtained should be printed in a comma-separated sequence on a single line.
for i in range (2000,3200):
    if i%7==0 and i%5!=0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [7]:
#Q5: Count the elements of each datatype inside the list and display in output
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

int_count = 0
str_count = 0
float_count = 0
bool_count = 0
none_count = 0

for element in list:
    if type(element) == int:
        int_count += 1
    elif type(element) == str:
        str_count += 1
    elif type(element) == float:
        float_count += 1
    elif type(element) == bool:
        bool_count += 1
    elif type(element) == type(None):
        none_count += 1

print("int:", int_count)
print("str:", str_count)
print("float:", float_count)
print("bool:", bool_count)
print("NoneType:", none_count)

int: 5
str: 4
float: 1
bool: 1
NoneType: 1

In [8]:
#Q6: Add all values from the list with numeric datatypes
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

total_sum = 0

for element in list:
    if type(element) == int or type(element) == float or type(element) == bool:
        total_sum += element

print("Total sum of numeric values:", total_sum)

Total sum of numeric values: 22.5

In [10]:
#Q7: Concat all str datatypes with hyphen as a delimiter
list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

concat_string = ""

for element in list:
    if type(element) == str:
        if concat_string == "":
            concat_string = element
        else:
            concat_string += "-" + element

print("Concatenated string:", concat_string)

Concatenated string: Py-10-SQL-John

In [12]:
#Q8 Get only odd numbers from the following list and store the numbers in new list
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

#i. Use loops to get the answer
odd_numbers = []

for num in li:
    if num % 2 != 0:
        odd_numbers.append(num)

print("Odd numbers :", odd_numbers)

Odd numbers : [5, 7, 97, 77, 23, 73, 61]

In [14]:
#Q9: Write an udf to calculate the area of different shapes
#Take shape and dimensions as arguments to udf as follows :
#1. square which has side
#2. rectangle which has length and width
#3. circle which has radius
#The shape should be a positional argument and it's dimensions are taken as kwargs
#Perform proper validation for the user inputs and then calculate area.
#E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"
def calculate_area(shape, **kwargs):
    if shape == "square":
        if "side" in kwargs:
            side = kwargs["side"]
            if side > 0:
                return side ** 2
            else:
                return "Side length must be positive."
        else:
            return "Please enter 'side' for a square."

    elif shape == "rectangle":
        if "length" in kwargs and "width" in kwargs:
            length = kwargs["length"]
            width = kwargs["width"]
            if length > 0 and width > 0:
                return length * width
            else:
                return "Length and width must be positive."
        else:
            return "Please enter 'length' and 'width' for a rectangle."

    elif shape == "circle":
        if "radius" in kwargs:
            radius = kwargs["radius"]
            if radius > 0:
                return 3.14 * (radius ** 2)
            else:
                return "Radius must be positive."
        else:
            return "Please enter 'radius' for a circle."

    else:
        return "Shape not recognized. Please enter 'square', 'rectangle', or 'circle'."

print(calculate_area("square", side=5))
print(calculate_area("rectangle", length=4, width=5))
print(calculate_area("circle", radius=3))
print(calculate_area("square", length=5))
print(calculate_area("triangle", base=5))

25
20
28.26
Please enter 'side' for a square.
Shape not recognized. Please enter 'square', 'rectangle', or 'circle'.

In [15]:
#Q10: write a UDF to check if a number is prime or not.
def is_prime(number):
    if number <= 1:
        return f"{number} is not a prime number."

    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return f"{number} is not a prime number."

    return f"{number} is a prime number."

try:
    user_input = int(input("Enter a number to check if it is prime: "))
    result = is_prime(user_input)
    print(result)
except ValueError:
    print("Please enter a valid integer.")

Enter a number to check if it is prime:  5

5 is a prime number.

In [17]:
#Q11. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"
user_input = input("Enter a string: ")

reversed_string = ""

for i in range(len(user_input) - 1, -1, -1):
    reversed_string += user_input[i]

print("Reversed string:", reversed_string)

Enter a string:  imagine

Reversed string: enigami